:root {
  --color-white: #fff;
  --color-black: #000;
  --text-accent: #33675b;
  --text-primary: #6DE1E3;
  --text-list: #85AAAB;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-white);
  position: relative;
}

.container {
  padding: 0 calc(50vw - 610px);
}

.header {
  position: relative;
  height: 100vh;

  &__bg {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__logo img {
    height: 70px;
    width: 200px;
    top: 30px;
    left: 136px;
  }

  &__info {
    margin-top: 20px;
  }

  &__title {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    margin: 140px 0 20px;
    max-width: 453px;
  }

  &__text {
    font-size: 22px;
    width: 300px;
    height: 72px;
    margin: 75px 0 30px;
  }

  &__button {
    background-color: var(--text-accent);
    color: var(--color-white);
    width: 250px;
    height: 40px;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    margin: 50px 0 30px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:hover {
      background-color: var(--text-accent);
    }
  }

  &__nav {
    margin-top: 54px;
    width: 400px;
    height: 27px;
    left: 905px;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
  }

  &__link {
    color: var(--text-list);
    text-decoration: none;
    font-size: 18px;
    width: 400px;
    height: 27px;
    font-weight: 700;
    transition: color 0.3s;

    &:hover {
      color: var(--text-accent);
    }

    &--active {
      color: var(--text-primary);
      text-decoration: underline;
      text-underline-offset: 6px;
      text-decoration-thickness: 2px;
    }
  }
}

.services {
  padding: 30px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 234px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: none;
    padding: 20px 0;
    flex: 1 1 30%;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-10px);
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }

  &__title {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: var(--text-accent);
    margin-bottom: 15px;
  }

  &__text {
    text-align: center;
    font-size: 16px;
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    color: var(--color-black);
  }
}

.section--about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  gap: 40px;
  background: url(../image/Rectangle.jpg) no-repeat center center;
  background-size: cover;

  &__text {
    h1 {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
      color: var(--color-white);
      margin-bottom: 60px;
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-white);
      width: 570px;
      margin-bottom: 20px;
    }
  }

  &__image img {
    width: 100%;
    height: auto;
    display: block;
  }

  &__first-button,
  &__second-button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 10px;
  }

  &__first-button {
    border: 2px solid var(--text-accent);
    background-color: transparent;
    color: var(--color-white);
  }

  &__second-button {
    border: 2px solid var(--text-accent);
    background-color: var(--text-accent);
    color: var(--color-white);
  }

  &__button-group {
    display: flex;
    gap: 15px;
  }
}

.section--appointment {
  text-align: center;
  padding: 60px 20px;

  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: var(--color-black);
  }

  &__form-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__textarea-wrapper {
    flex-shrink: 0;
    display: flex;
  }

  &__textarea {
    width: 300px;
    height: 150px;
    padding: 10px 15px;
    border: 1px solid #333;
    border-radius: 8px;
    resize: none;
    font-size: 16px;
  }

  &__input,
  &__textarea,
  &__select {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 15px;
    border: 1px solid #000;
    border-radius: 8px;
    box-sizing: border-box;
  }

  &__select {
    background: url('../image/Vector_Delta.png') no-repeat right 15px center;
    background-size: 16px 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 40px;
  }

  &__checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--text-accent);
  }

  &__checkbox {
    width: 20px;
    height: 20px;
    display: none;

    + label {
      position: relative;
      padding-left: 30px;
      cursor: pointer;
      font-size: 14px;
      user-select: none;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 2px solid var(--text-accent);
        border-radius: 4px;
        background-color: transparent;
        transition: background-color 0.3s, border-color 0.3s;
      }
    }

    &:checked + label::before {
      background-color: var(--text-accent);
      border-color: var(--text-accent);
    }
  }

  &__button-group__button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border: 2px solid var(--text-accent);
    border-radius: 8px;
    background-color: var(--text-accent);
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
}

.counter {
  background: url('../image/bg-counter.png') no-repeat center center;
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  &__item {
    flex: 1; 
    text-align: center;
    padding: 20px;
  
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 48px;
      line-height: 72px;
      font-weight: 700;
    }
    h3 {
      font-family: 'Oswald', sans-serif ;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
    }
    p {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }
  
}
.reviews {
  text-align: center;
  margin-bottom: 50px;

  h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #000;
  }

  &__slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__arrow {
    background-color: transparent;
    border: none;
    font-size: 36px;
    color: #ADDDDE;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #000;
    }

    &--left {
      margin-right: 10px;
    }

    &--right {
      margin-left: 10px;
    }
  }

  &__background {
    background-color: #ADDDDE;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__top {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-bottom: 12px;
    }

    .reviews__avatar {
      width: 50px;
      height: 50px;
      
      
    }

    h6 {
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      color: #2D5E5E;
      margin: 0;
    }

    p {
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #000;
    }
  }
}
.news {
  background: url(../image/news_bg.png) no-repeat center center;
  background-size: cover;
  padding: 50px 0;

  h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color:#fff;
    margin-bottom: 50px;
    margin-left: 50px;
    text-align: left;
    line-height: 72px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__card {
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      font-family: 'Oswald', sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      color: #fff;
      text-align: left;
      margin-top: 10px;
      margin-left: 30px;
      
    }
  }

  &__item__photo {
    width: 85%;
    height: auto;
    margin-left: 30px;
    
    
    
   
  }
}


.faq {
  margin: 40px auto;
  color: #000;
  max-width: 600px;
  
  h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
  }

  &__title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;

    summary {
      list-style: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 24px;
      font-family: "Oswald",sans-serif;
      font-weight: 700;
      line-height: 32px;
      color: #000;


    }

    .faq__icon {
      display: inline-block;
      width: 24px;
      margin-right: 10px;

      &::before {
        content: "+";
        font-size: 20px;
      }
    }
    &[open] summary {
      color: #2D5E5E;
    }

    &[open] .faq__icon::before {
      content: "×";
      
    }

    .faq__answer {
      margin-top: 8px;
      padding-left: 34px;
      font-size: 16px;
      font-family: "Montserrat",sans-serif;
      font-weight: 500;
      line-height: 24px;
    }
  }
}
